:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    aspect-ratio: 1;
    width: 600px;
    height: 600px;
}

.grid-item {
    padding: 1em;
    text-align: center;
}

.grid {
    display: inline-block;
    border: 1px solid black;
    background: white;
}

#newGrid {
    display: flex;
}