#container {
    display: grid;
    width: 600px;
    height: 600px;
    border: 5px dotted purple
}

.grid {
    background: white;
    border: 1px black solid
}

#newGrid {
    display: flex;
    height: 20px;
    margin-left: 20px;
}

body {
    display: flex;
    flex-direction: row;
}