:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#container {
    display: grid;
    grid-template-columns: repeats(var(--grid-rows), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-gap: 0px;
}

.grid-item {
    padding: 1em;
    text-align: center;
}

.grid {
    display: inline-block;
    border: 1px solid black;
    height: 25px;
    width: 25px;
    background: white;
}

.grid:hover{
    background: black;
}